
<br>
<body>
    <div class="icon">
        <div><h2>Lindsay Michael</h2></div>
        <div> <img src="../assets/LM.jpg" alt="A photo of a woman with pink hair and glasses."></div>

    </div>
    <p>
        Hi, I'm Lindsay. I'm a senior at CSU, getting my degree in History with a Computer Science Minor.
    </p>

    <div class="icon">
        <div><h2> Madelyn Holter</h2></div>
        <div> <img src="../assets/placeholder.jpg" alt="black stick figure drawing on white background"> </div>
    </div>
    
    <p>
        placerholder bio
    </p>

    <div class="icon">
        <div><h2>Ocean O'Neil</h2></div>
        <div> <img src="../assets/placeholder.jpg" alt="black stick figure drawing on white background"> </div>
    </div>
    
    <p>
        placeholder bio
    </p>

</body>