


<app-home (formEmit)="setAmountAndShow($event)"></app-home>

<p *ngIf="formSubmitted == true">Hello World, the form submitted!</p>

<table>
    <colgroup>
        <!--Left column is 20%, right is 80%-->
        <col style="width:20%">
        <col style="width:80%">
    </colgroup>

    <tr *ngFor="let item of counter(amount) let i = index;">
        <td>
            <input type="radio" id="selection"name="rowSelection" value="Selected">
            <label for="selection">Select Row</label><br>
            <form [formGroup]="colorForm">
                <select formControlName="colors"> 
                    @for(color of data; track color.ID){
                        <option value={{color.ID}}>{{color.name}}</option>}
                </select>
               
                </form> 
        </td>
        <td><!--Empty right now as per instructions--></td>
    </tr>
</table>


