


<app-home (formEmit)="setAmountAndShow($event)"></app-home>

<p *ngIf="formSubmitted == true">Hello World, the form submitted!</p>

<table>
    <colgroup>
        <!--Left column is 20%, right is 80%-->
        <col style="width:20%">
        <col style="width:80%">
    </colgroup>

    <tr *ngFor="let item of counter(amount) let i = index;">
        <td>
            <input type="radio" id="selection"name="rowSelection" value="Selected">
            <label for="selection">Select Row</label><br>
            <form [formGroup]="colorForm">

                <select formControlName="colors"> 
                    <ng-container *ngFor="let color of colors">
                        <option [ngValue]="color.id">{{color.name}}</option>
                    </ng-container>
                    
                    <!--<option *ngFor="let color of colors" [ngValue]="color.id" 
                    selected="setDefaultValue(color)">{{color.name}}</option>
                -->
                </select>
               
                </form>
        </td>
        <td><!--Empty right now as per instructions--></td>
    </tr>
</table>


