/* 
CSS from: https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
and then altered by Lindsay
*/


input[type=range] {
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  input[type=range]:focus {
    outline-color: rgb(34, 39, 42); 
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
  
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }

  /* Styles the slider*/
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 26px;
    width: 16px;
    border-radius: 3px;
    background: rgb(15, 82, 90);
    cursor: pointer;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
  }
  
  /* All the same stuff for Firefox */
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 26px;
    width: 16px;
    border-radius: 3px;
    background: rgb(15, 82, 90);
    cursor: pointer;
  }
  
  /* All the same stuff for IE */
  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 26px;
    width: 16px;
    border-radius: 3px;
    background: rgb(15, 82, 90);
    cursor: pointer;
  }

  input[type=range]::-webkit-slider-thumb {
    background: rgb(112, 30, 6);
}

  input[type=range]::-moz-range-thumb:hover{
    background: rgb(112, 30, 6);
  }
  input[type=range]::-ms-thumb {
    background: rgb(112, 30, 6);
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgb(34, 39, 42), 0px 0px 1px rgb(34, 39, 42);
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid rgb(34, 39, 42);
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
  }
  
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgb(34, 39, 42), 0px 0px 1px rgb(34, 39, 42);
    background: rgb(255, 244, 209);
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }


input[type="range"]::-moz-range-progress {
    background-color: rgb(112, 30, 6);
    height: 9px;
  }
  
  input[type="range"]::-ms-fill-lower {
    background-color: rgb(112, 30, 6);
    height: 9px;
  }