<main>
<h1>Madelyn, Ocean, & Lindsay Co. </h1>
  <!-- This section should handle navigation and the title card, and remain on the page all the time-->
<nav>  
  <ul> 
    <li><a class="button" routerLink="/home">Home</a> </li>
    <li><a class="button" routerLink="/about">About</a> </li>
    <li><a class="button" routerLink="/form">Form</a> </li>
  </ul>
</nav>
<br>

<!--This does the navigation! This was done with the help of 
    https://angular.dev/guide/routing/router-tutorial# -->


<router-outlet> </router-outlet>


</main>

