<main>
<h1>Madelyn, Ocean, & Lindsay Co.      <img style="display:inline;" src="logo.jpg" alt="An artist's palette with a letter M, O, and L in the paint wells.">
</h1>

  <!-- This section should handle navigation and the title card, and remain on the page all the time-->
   <div id ="navigation">
<nav>  
  <ul> 
    <li><a class="button" routerLink="/home">Color Generation </a> </li> <!-- LM: removed named link to stop home's html from displaying twice-->
    <li><a class="button" routerLink="/about">About</a> </li>
    <li><a class="button" routerLink="/uppertable">Upper Table</a> </li> 
    <li><a class="button" routerLink="/colorpaintingtable">Color Painting Table</a> </li> 
    <li><a class="button" routerLink="/database">Database</a> </li> 

  </ul>
</nav>
</div>
<br> <br> <br>

<!--This does the navigation! This was done with the help of 
    https://angular.dev/guide/routing/router-tutorial# -->


<router-outlet /> 


</main>

