<div id="tablegenerator">
    <app-home (formEmit)="tableGenerator($event)"></app-home>
</div>
<br>
<div id ="uppertable">

    <table *ngIf="formSubmitted == true">
        <colgroup>
            <!--Left column is 20%, right is 80%-->
            <col style="width:20%">
            <col style="width:80%">
        </colgroup>

        <tr *ngFor="let item of counter(amount) let i = index">
            <td>
                <input type="radio" id="selection"name="rowSelection" value="Selected">
                <label for="selection">Select Row</label><br>
                <form [formGroup]="colorForm">
                    <select>
                            <option *ngFor = "let color of colors"  [ngValue]=color.ID 
                                [selected]="(selected(i) == color.ID)" [disabled]="disableOption(color.ID)">{{color.name}}
                            </option>
                    </select>
                
                    </form> 
            </td>
            <td><!--Empty right now as per instructions--></td>
        </tr>
    </table>
</div>
<br> 
  <!-- Created with reference to:
     https://blog.angular-university.io/angular-for/
     https://blog.angular-university.io/angular-if/
     https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_tr_rowindex
    -->
<div id = "colorPaintingTable">

    <table *ngIf="formSubmitted == true">
        <thead>
            <tr>
                @for(letter of headerLetters; track letter; let i = $index) {
                    @if(i <= columns) {
                        @if(i == 0) {
                            <th></th>
                        }
                        @if(i != 0) {
                            <th> {{headerLetters[i - 1]}} </th>  
                            <!-- display column letters on col header -->
                        }
                    }
                }
            </tr>
        </thead>
        <tbody>
                @for(num of rowNums; track num; let i = $index){
                    @if(i < rows) {
                        <tr><th> {{i + 1}} </th>
                        @for(letter of headerLetters; track letter; let j = $index) {
                            @if(j < columns) {
                                <td (click)="clicker(j, i)"></td>
                                <!-- create empty cells -->
                                 <!-- display information on click -->
                            }
                        }
                        </tr>
                    }
                }
        </tbody>
    </table>
</div>
<div id="printButton">
    <form>
        <input type="button" class="button" onclick="window.print()" value="Print Me"/>
    </form>
</div>
   