<title>Home</title> 
<br>
<body>
<div id = "home">
<h2>Welcome!</h2>

<p>Welcome to our CS 312 project. Here you will find information about our group and an art therapy program. </p>

<!-- LM:
This form was written with heavy reference to 
https://angular.dev/guide/forms/reactive-forms
-->

<body>
    <h2>Table options</h2>
    <p>Select the size of your table and the number of colors you would like.</p>
        <br>
    <form [formGroup]="numsForm" (ngSubmit)="onSubmit()">
        <label for="rows">Number of Rows: {{ this.numsForm.get('rows')?.value }} </label> 
        <input type="range" formControlName="rows" min="0" max="1000" step="1">
            <br>
        <label for="cols">Number of Columns: {{ this.numsForm.get('cols')?.value }} </label>
        <input type="range" formControlName="cols" min="0" max="702" step="1">
            <br>
        <label for="colors">Number of Colors: {{ this.numsForm.get('colors')?.value }} </label>
        <input type="range" formControlName="colors" min="0" max="10" step="1">
            <br>
        <p>Use the slider to select a value for each field. Click sumbit when you are happy with your selections.</p>
        <button class="button" type="submit" [disabled]="!numsForm.valid">Submit</button>
    </form>    
</body>
</div>
</body>